
@{
    ViewData["Title"] = "Index";
}

<!-- Intro Section end -->
<section class="about-section spad">
    <div class="row">
        <div class="col-6">
            <div class="about-text">
                <h3 class="text-white">A young team of 7 is here to help you at this vulnerable time.</h3>
                <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl a, auctor euismod purus. Morbi pretium interdum vestibulum. Fusce nec eleifend ipsum. Sed non blandit tellus. </p>
                <a href="#" class="readmore-btn">Find out more</a>
            </div>
        </div>
        <div class="col-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" />
        </div>

    </div>
</section>
<!-- Intro Section end -->
<!-- Sell Section -->
<section class="sell-section ">
    <div class="sell-warp spad set-bg" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg');">
        <div class="container text-white">
            <div class="section-title">
                <h2>Selling your place is easy</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>01.</span></div>
                        <h3>Search</h3>
                        <p class="text-white font-italic">Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>02.</span></div>
                        <h3>Compare</h3>
                        <p class="text-white font-italic">Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>03.</span></div>
                        <h3>Connect</h3>
                        <p class="text-white font-italic">Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5 mt-3">
                <a href="#" class="site-btn sb-big bg-white text-danger">Contact an agent now</a>
            </div>
        </div>
    </div>
</section>
<!-- Sell Section end -->
<!-- Agents Section -->
<section class="agents-section spad text-white">
    <div class="container">
        <div class="section-title">
            <h2>Our Team</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="agent-item">
                    <img src="~/img/agents/1.jpg" alt="">
                    <div class="ai-text">
                        <h4 class="text-danger">Dev Shaw</h4>
                        <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum.</p>
                        <a href="#" class="readmore-btn text-danger">Contact the agent</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="agent-item">
                    <img src="~/img/agents/2.jpg" alt="">
                    <div class="ai-text">
                        <h4 class="text-danger">Bishwadev</h4>
                        <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum.</p>
                        <a href="#" class="readmore-btn text-danger">Contact the agent</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="agent-item">
                    <img src="~/img/agents/3.jpg" alt="">
                    <div class="ai-text">
                        <h4 class="text-danger">Avinash</h4>
                        <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum.</p>
                        <a href="#" class="readmore-btn text-danger">Contact the agent</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Agents Section end -->
