
@{
    ViewData["Title"] = "Index";
}

<!-- Intro Section end -->
<section class="about-section spad">
    <div class="row">
        <div class="col-6">
            <div class="about-text">
                <h3 class="text-white" >A young team of 7 is here to help you at this vulnerable time.</h3>
                <p class="text-white">Anxiety is a normal reaction to uncertainty and things that may harm us. For many of us, the coronavirus and the COVID-19 illness make for a very uncertain future. People worry about their own health and the health of their loved ones, both here and abroad. People may also have a lot of concerns around Medical facility, Food, Transportation or physical help. We are here to help you assist/contact with nearest volunteer who can help you get proper help. </p>
                <a href="#" class="readmore-btn">Find out more</a>
            </div>
        </div>
        <div class="col-6">
            <img src="https://wikimediafoundation.org/wp-content/uploads/2018/06/ArtAndFeminism_2017_Livrustkammaren_06-e1533254907593.jpg" />
        </div>

    </div>
</section>
<!-- Intro Section end -->
<!-- Process Section -->
<section class="sell-section ">
    <div class="sell-warp spad set-bg" >
        <div class="container text-white">
            <div class="section-title">
                <h2>Getting help is easy</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>01.</span></div>
                        <h3>Search</h3>
                        <p class="text-white font-italic">Search with your location or postal code along with type of help you need from the dropdown list given in the home page with just a button click. Try it out.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>02.</span></div>
                        <h3>Select</h3>
                        <p class="text-white font-italic">Once you search with your location, You will see a list of volunteers near-by your location who has potential to help you out. Choose the one with nearest location to yours. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>03.</span></div>
                        <h3>Connect</h3>
                        <p class="text-white font-italic">Connect with our volunteer you selected on any of the contact details given in the details page so that he/she will be notified with a help notification.</p>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5 mt-3">
                <a asp-controller="ContactUs" asp-action="Index" class="site-btn sb-big bg-white text-danger">Contact us to know more</a>
            </div>
        </div>
    </div>
</section>
<!-- Process Section end -->
<!-- Developers Section -->
<section class="agents-section spad text-white">
    <div class="container">
        <div class="section-title">
            <h2>Our Team</h2>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="agent-item">
                    <div class="ai-text">
                        <h4 class="text-danger">Bishwadeb</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="agent-item">
                    <div class="ai-text">
                        <h4 class="text-danger">Dev Shaw</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="agent-item">
                    <div class="ai-text">
                        <h4 class="text-danger">Rajendra</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="agent-item">
                    <div class="ai-text">
                        <h4 class="text-danger">Avinash</h4>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-4">
                <div class="agent-item">
                    <div class="ai-text">
                        <h4 class="text-danger">Anil</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="agent-item">
                    <div class="ai-text">
                        <h4 class="text-danger">Manish</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="agent-item">
                    <div class="ai-text">
                        <h4 class="text-danger">Chandan</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Developers Section end -->
