
@{
    ViewData["Title"] = "Index";
}

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title text-left">
                    <h2>Get in touch</h2>
                </div>
                <div class="contact-text">
                    <p>
                        We love hearing from readers and people from the design community. We really appreciate you taking the time to get in touch. Please fill out the form below. *Please note: We will get back to you shortly, usually within 2-3 days. Also note that if you send an email on a Friday, we may get back to you only on the following Monday or Tuesday. If you are contacting us for a business proposal or regarding advertising please mention it in your message. You may also reach us on Twitter and Facebook. We’re looking forward to hearing from you!

                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="contact-info-box">
                            <div class="ci-icon">
                                <span>TA</span>
                            </div>
                            <h4>Telengana</h4>
                            <p>500032 Gachibowli circle, Hyderabad, India </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-info-box">
                            <div class="ci-icon">
                                <span>OD</span>
                            </div>
                            <h4>Odisha</h4>
                            <p>752081 Bhubaneswar, India </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-info-box">
                            <div class="ci-icon">
                                <span>KA</span>
                            </div>
                            <h4>Karnataka</h4>
                            <p>987388 Indiranagar, Bangaluru, India </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form class="contact-form">
            <div class="row">
                <div class="col-lg-4">
                    <input type="text" placeholder="Your name">
                </div>
                <div class="col-lg-4">
                    <input type="text" placeholder="Your e-mail">
                </div>
                <div class="col-lg-4">
                    <input type="text" placeholder="Subject">
                </div>
                <div class="col-lg-12">
                    <textarea placeholder="Message"></textarea>
                    <button class="site-btn sb-big">Send message</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Contact Section end -->
