@{
    ViewData["Title"] = "Home Page";
}

<!-- Header Section end -->
<!-- Hero Section end -->
<section class="hero-section set-bg" data-setbg="~/img/hero-bg.jpg">
    <div class="container">
        <div class="hero-warp">
            <form class="main-search-form">
                <div class="search-type">
                    <div class="st-item">
                        <input type="radio" name="st" id="Test" checked>
                        <label for="Test">Test</label>
                    </div>
                    <div class="st-item">
                        <input type="radio" name="st" id="Food">
                        <label for="Food">Food</label>
                    </div>
                    <div class="st-item">
                        <input type="radio" name="st" id="Medicine">
                        <label for="Medicine">Medicine</label>
                    </div>
                    <div class="st-item">
                        <input type="radio" name="st" id="Grocessary">
                        <label for="Grocessary">Glossary</label>
                    </div>
                    <div class="st-item">
                        <input type="radio" name="st" id="Doctor">
                        <label for="Doctor">Doctor</label>
                    </div>
                </div>
                <div class="search-input">
                    <input type="text" placeholder="Search by state, postcode or suburb">
                    <button class="site-btn">Search</button>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            </form>
        </div>
    </div>
</section>
<!-- Hero Section end -->
<!-- Stories Section end -->
<section class="stories-section spad">
    <div class="container">
        <div class="row ">
            <div class="col-lg-5 order-lg-2">
                <img class="w-100" src="~/img/about/3.jpg" alt="">
            </div>
            <div class="col-lg-7 order-lg-1">
                <div class="about-text">
                    <h2><u>Success Stories</u></h2>
                    <h4>What the world can learn from Kerala about how to fight covid-19</h4><br />
                    <p>The sun had already set on March 7 when Nooh Pullichalil Bava received the call. “I have bad news,” his boss warned. On February 29, a family of three had arrived in the Indian state of Kerala from Italy, where they lived. The trio skipped a voluntary screening for covid-19 at the airport and took a taxi 125 miles (200 kilometers) to their home in the town of Ranni. When they started developing symptoms soon afterward, they didn’t alert the hospital. Now, a whole week after taking off from Venice, all three—a middle-­aged man and woman and their adult son—had tested positive for the virus, and so had two of their elderly relatives. </p>
                    <a href="#" class="readmore-btn">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Stories Section end -->